@media screen and (min-width: 769px) {
    .noindex {
        margin-top: 186px;
    }
}
#breadcrumb {
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
    margin-top: 7px;
}
.main {
    width: 100%;
    margin: 0 auto;
}
#breadcrumb .breadcrumbs {
    padding: 10px 0;
    /* padding-top: 24px; */
    margin-top: -11px;
}
/*reponsive*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1310px;
    }
}

@media (min-width: 768px)
{
    .col-sm-6 {
        width: 50%;
    }
}
/* @media (min-width: 768px)
{
    .col-sm-6 {
        width: 50%;
    }
} */
.showHere{
    font-size: 14px;
    padding: 5px;
    margin-left: 10px;
}
.path{
    font-size: 14px;
}
.fa-caret-right{
    margin-left: 3px;
}
.product_thumbnail .imgContainer{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    cursor: pointer;
}

.product_thumbnail  .imgContainer img{
    width: 100px;
    height: 109px;
    /* border: 1px solid blueviolet; */
    padding: 3px
}

.product_name {
    font-size: 24px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.ins-preview-wrapper-145{
    display: flex;
}
.img-nb img {
    max-width: 40px !important;
}
.follower {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 700;
}
.Brand-product span{
    font-size: 15pt;
}
.Brand-product{
    margin-top: 15px;
}
.Product-warranty span{
    font-size: 15pt;

}
.price-text {
    font-size: 16px;
    display: inline-block;
    width: 70px;
}
.product_price {
    color: #888;
    font-size: 22px;
    line-height: 180%;
}
.product_sale_price {
    font-size: 22px;
    color: #e61010;
    font-weight: 700;
}
.form-group {
    margin-bottom: 15px;
}
.clr, .clearfix {
    clear: both;
    height: 0;
}
.product_buy_btn {
    background: #ed1f24 !important;
    margin-top: 10px;
}
.product_buy_btn {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    padding: 3px 30px 7px 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.ins-preview-wrapper-2587 div, .ins-preview-wrapper-2587 img, .ins-preview-wrapper-2587 p, .ins-preview-wrapper-2587 span, .ins-preview-wrapper-2587 a, .ins-preview-wrapper-2587 i {
    border-radius: 5px !important;
}
.mce-item-table{
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 1300px;
    min-width: 500px;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    color: #333333;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 20px;
    background-color: #ffffff;
    height: auto;

}
.name-Product{
    box-sizing: border-box;
    padding: 8px;
    vertical-align: top;
    border: 1px solid #eeeeee;
    width: 18.5209%;
    background-color: #f7f7f7 !important;
}
.info-Product{
    box-sizing: border-box;
    padding: 8px;
    vertical-align: top;
    border: 1px solid #eeeeee;
    width: 78.4791%;
}
#product_content_detail .tab-content p img {
    display: block;
    margin: 5px auto;
}
.tab-content img {
    max-width: 100% !important;
}

#product_content_detail img {
    max-width: 703px;
}
.react-tabs__tab-panel--selected p img{
    max-width: 100% !important;
}
/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .vote-product {
      margin-left: 60px;
  }

  .btn-comment{
    margin-top:140px;
    margin-left: 80%;

  }
  .comment textarea.comment-box {
    height:150px;
  }