#layout-page-register {
    width: 1200px;
    margin: 10px auto;
}
.clr, .clearfix {
    clear: both;
    height: 0;
}

.title-register {
    text-align: center;
    font-size: 24px;
}   
#layout-page-register .input-group {
    margin-bottom: 15px;
}
.userbox{
    width: 1200px;
}

.title-register{
    margin-left: 40px;
}
.btnBack{
    width: 40%;
    margin-left: 65px;

}
.btnBack a{
    color: white;

}
.backdrop-mui{
    z-index: 9999 !important;
}
.image-item{
    margin-top: 10px;
}
.image-item img{
   height:140px;
   width: 140px;
}
.image-item i.btn-close{
    margin-left: 100px;
}
.image-item i{
   cursor: pointer;
}
.input-group .MuiOutlinedInput-root {
    height: 100% !important;
    width: 550px !important;
}
.input-group.password .MuiOutlinedInput-root{
    width: 270px !important;
}
.react-tel-input{
    margin-bottom: 15px;
}
.react-tel-input input{
    height: 100% !important;
    width: 550px !important;
}
.input-group.city .MuiOutlinedInput-root{
    width: 270px !important;
}
.input-group.ward .MuiOutlinedInput-root{
    width: 550px !important;
    height: 100% !important;

}
#upload{
    margin-bottom: 15px;
}
.btnRegister{
    width: 550px !important;
}
.input-group.username p::before {
    display: inline;
    content: "⚠ ";
  }

.input-group.username p{
    color: #bf1650;

}

.input-group.name p::before {
    display: inline;
    content: "⚠ ";
  }

.input-group.name p{
    color: #bf1650;

}
.input-group.email p::before {
    display: inline;
    content: "⚠ ";
  }

.input-group.email p{
    color: #bf1650;
}

.input-group.password p::before {
    display: inline;
    content: "⚠ ";
  }

.input-group.password p{
    color: #bf1650;
}
.input-group.sex p::before {
    display: inline;
    content: "⚠ ";
  }

.input-group.sex p{
    color: #bf1650;
}
.input-group.ward p::before {
    display: inline;
    content: "⚠ ";
  }

.input-group.ward p{
    color: #bf1650;
}