#layout-page-register {
    width: 300px;
    margin: 10px auto;
}
.clr, .clearfix {
    clear: both;
    height: 0;
}

.title-register {
    text-align: center;
    font-size: 36px;
}   
#layout-page-register .input-group {
    margin-bottom: 15px;
}
.userbox{
    margin-top: 70px;
    width: 350px;
}

.title-register{
    margin-left: 40px;
}
.btnBack{
    width: 40%;
    margin-left: 65px;

}
.btnBack a{
    color: white;

}
